@import "tailwindcss";


#bottom{
    background: linear-gradient(transparent,black);
}


*{
    font-family: Helvetica;
    src: "url(font/HELVETICANOWDISPLAY-BLACK.TTF)";
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

